*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* Sets the font for all content*/
  display: flex; /* Activate Flexbox - Children become flex item */
  justify-content: center; /* Centers horizontally along main axis */
  align-items: center; /* Centers vertically along the cross axis */
  height: 100vh; /* Sets the body height to fill the entire viewport */
  margin: 0; 
  background-color: #f4f4f4; /* Sets background color to white */
}

.container {
  background-color: white; /* Sets the background color to white */
  padding: 30px; /* Creates space inside the container content > space > edge */
  border-radius: 8px; /* Curves the edges of the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Creates a shadow around container */
  width: 300px; /* Sets the width of the container */
  text-align: center; /* Horizontally centers inline content */
} 

.input-container {
  display: flex; /* Turns all children to flex items */
  align-items: center; /* Vertically centers the input and toggle element */
  position: relative;
}

input {
  width: 100%; /* Stretch width to the max of the container (300px) */
  padding: 10px; /* Creates inner space around "Your Password" text */
  margin: 10px 0; /* Creates out-space on the top and bottom of input element */
  border: 2px solid #ccc; /* Manipulates the border around "Your Password" */
  border-radius: 5px; /* Rounds the edge around "Your Password" */
  font-size: 16px; /* Changes "Your Password" font-size */
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer; /* When mouse hovers over icon - pointer icon appears */
  font-size: 20px; /* Set font size */
  color: #333; 
}

label {
  font-size: 18px;
  margin-bottom: 10px; /* Apply space under the label element */
  display: block;
}
